# Auto detect text files and perform LF normalization
* text=auto

# Custom for Visual Studio
*.cs     diff=csharp

# Standard to msysgit
*.doc	 diff=astextplain
*.txt	 diff=astextplain
*.flx	 diff=astextplain
*.inc	 diff=astextplain
*.job	 diff=astextplain
*.?pr	 diff=astextplain
*.?pt	 diff=astextplain
*.?pi	 diff=astextplain
*.ini	 diff=astextplain
*.vw	 diff=astextplain
*.bat	 diff=astextplain
*.DOC	 diff=astextplain
*.docx diff=astextplain
*.DOCX diff=astextplain
*.dot  diff=astextplain
*.DOT  diff=astextplain
*.pdf  diff=astextplain
*.PDF	 diff=astextplain
*.rtf	 diff=astextplain
*.RTF	 diff=astextplain
