a:link { color:#0000dd;text-decoration:none; }
a:visited { color:#0000dd;text-decoration:none; }
a:hover { text-decoration:none; background-color:#FFFFFF; font-weight:bold; }
#infotext { color:#999933; font-size:9pt; line-height:11pt; font-family:Arial, Geneva; padding:4pt; border-style:solid; border-width:1pt; border-color:#cccc99; position:relative; left:15px; width:180px; visibility:visible; }
#menu { position:absolute; top:20px; left:0px; width:215px; height:220px; visibility:visible; }
#menulang { position:absolute; top:20px; left:0px; width:215px; height:40px; visibility:visible; }
#gruppenbild { position:absolute; z-index:0; top:50px; left:110px; width:160px; height:190px; visibility:visible; }
#gruppentext { position:absolute; z-index:1; top:75px; left:5px; width:325px; height:260px; visibility:visible; }
#linksbild { position:absolute; z-index:0; top:50px; left:-50px; width:181px; height:190px; visibility:visible; }
#linkstext { position:absolute; z-index:1; top:-15px; left:-24px; width:340px; height:300px; visibility:visible; }
#spender { position:absolute; top:200px; left:0px; width:300px; height:90px; visibility:visible; }
.linksliste { line-height:13pt; }
.einr12 { margin-left:12mm; }
.cssE1 { font-family:Geneva,Arial; font-size:10pt; font-weight:bold; line-height:11pt; }
.cssE1a { color:#999933; font-family:Geneva,Arial; font-size:10pt; font-weight:bold; line-height:11pt; }
.cssE2 { font-family:Geneva,Arial; font-size:10pt; line-height:11pt; }
.cssE3 { font-family:Geneva,Arial; font-size:9.6pt; line-height:10pt; }
.cssE4 { font-family:Geneva,Arial; font-size:9.6pt; line-height:10pt; }
.iconImText { margin-left:2mm; line-height:11pt; margin-top:2mm; }
.iconleiste { margin-top:5mm; }
.iconleistezab { color:#333333; font-family:Arial,Geneva; font-size:10pt; line-height:11pt; }
.copyright { color:#999999; font-size:9pt; line-height:10pt; }
.button { font-size:9pt; font-weight:bold; }
.head4absatz { text-indent:-10mm; }
.head4versal { text-transform:uppercase; }
.pluslistenpunkt { margin-left:13mm; text-indent:-3mm; line-height:12pt; }
.ueberzwisch { color:#333333; font-size:10pt; line-height:11pt; font-family:Geneva,Arial; font-weight:bold; }
.ueberziczac { color:#999933;  font-weight:bold; font-size:10pt; font-family:Geneva,Arial; }
.absatzlinks { color:#333333; font-size:10pt; line-height:15pt; font-family:Arial,Geneva; margin-left:0mm; margin-right:1mm; }
.absatzrechts { color:#333333; font-size:10pt; line-height:15pt; font-family:Arial,Geneva; margin-right:1mm; }
ul,ol { color:#333333; font-size:10pt; font-family:Arial,Geneva; line-height:15pt; margin-top:2mm; }
li { color:#333333; font-size:10pt; font-family:Arial,Geneva; line-height:15pt; margin-top:2mm; }
/* Eingefuegt für Ueberschrift von Statistikseite, 8.10.2002 si */
h1, h2 { color:#333333; font-weight:bold; font-size:16pt; font-family:Arial,Geneva; margin-top:7mm; margin-right:30mm; }
.h2mittabelle { margin-top:3mm; margin-right:0mm; }
.h2unter { color:#333333; font-size:10pt; line-height:12pt; font-family:Arial,Geneva; }
h3 { color:#333333; font-weight:bold; font-size:10pt; font-family:Geneva,Arial; margin-top:9mm; margin-left:12mm; }
h4 { color:#333333; font-weight:bold; font-size:10pt; font-family:Arial,Geneva; margin-top:2mm; margin-right:30mm; }
p { color:#333333; font-size:10pt; line-height:15pt; font-family:Arial,Geneva; margin-left:12mm; margin-right:6mm; }
.psenf { color:#999933; }
.psenfbold { color:#999933; font-weight:bold; }
tr { color:#333333; font-size:10pt; font-family:Arial,Geneva; }
.tdliniedick { border-color:#999933; border-left-style:solid; border-left-width:2pt; }
.tdlinieduenn { border-color:#999999; border-left-style:solid; border-left-width:1pt; }
dl, dd, dt { color:#333333; font-size:10pt; font-family:Arial,Geneva; line-height:15pt; margin-top:2mm; }
dl { margin-left:12mm; margin-right:6mm; }
body { margin-left:10mm; }
tt {	font-family:Courier New; font-size:10pt; }

td:hover { border: solid 4px #ff9999; padding:5px; background-color:lightyellow;
 color:#333333; font-family:Arial,Geneva; }

a.left:hover {background-color: #ff9999;}

